<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrytech.framework.app.mapper.CarCargoOwnerMapper" >
  <resultMap id="BaseResultMap" type="com.zrytech.framework.app.entity.CarCargoOwnner" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="credit_code" property="creditCode" jdbcType="VARCHAR" />
    <result column="business_license" property="businessLicense" jdbcType="VARCHAR" />
    <result column="legaler_name" property="legalerName" jdbcType="VARCHAR" />
    <result column="legaler_id_card_no" property="legalerIdCardNo" jdbcType="INTEGER" />
    <result column="legaler_id_card_front" property="legalerIdCardFront" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="address_detail" property="addressDetail" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="customer_type" property="customerType" jdbcType="VARCHAR" />
    <result column="avoid_audit" property="avoidAudit" jdbcType="BIT" />
    <result column="close_rate" property="closeRate" jdbcType="DECIMAL" />
    <result column="favorable_level" property="favorableLevel" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="cusomer_id" property="customerId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="approve_status" property="approveStatus" jdbcType="VARCHAR" />
    <result column="approve_content" property="approveContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, credit_code, business_license, legaler_name, legaler_id_card_no, legaler_id_card_front, 
    tel, longitude, latitude, province, city, county, address_detail, intro, customer_type, 
    avoid_audit, close_rate, favorable_level, status, cusomer_id, create_date, type, approve_status, approve_content
  </sql>
  
  <select id="selectSelective" parameterType="Object" resultMap="BaseResultMap">
	  select * from `car_cargo_ownner`
	  <where>
	  	<if test="(userAccount != null and userAccount != '') or (customerTel != null and customerTel != '')">
	  		`cusomer_id` IN 
	  		(
	  			select `id` from `sys_customer` 
	  			<where>
	  				<if test="userAccount != null and userAccount != ''">
	  					`user_account` LIKE CONCAT('%', #{userAccount}, '%')
	  				</if>
	  				<if test="customerTel != null and customerTel != ''">
	  					and `tel` LIKE CONCAT('%', #{customerTel}, '%')
	  				</if>
	  			</where>
	  		)
	  	</if>
	  	<if test="id != null">
	  		AND `id` = #{id}
	  	</if>
	  	<if test="name != null and name != ''">
	  		AND `name` LIKE CONCAT('%', #{name}, '%')
	  	</if>
	  	<if test="legalerName != null and legalerName != ''">
	  		AND `legaler_name` LIKE CONCAT('%', #{legalerName}, '%')
	  	</if>
	  	<if test="tel != null and tel != ''">
	  		AND `tel` LIKE CONCAT('%', #{tel}, '%')
	  	</if>
	  	<if test="status != null and status != ''">
	  		AND `status` = #{status}
	  	</if>
	  	<if test="customerType != null and customerType != ''">
	  		AND `customer_type` = #{customerType}
	  	</if>
	  	<if test="avoidAudit != null">
	  		AND `avoid_audit` = #{avoidAudit}
	  	</if>
	  	<if test="approveStatus != null and approveStatus != ''">
	  		AND `approve_status` = #{approveStatus}
	  	</if>
	  	<if test="type != null and type != ''">
	  		AND `type` = #{type}
	  	</if>
	  </where>
	  order by `create_date` DESC
  </select>
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car_cargo_ownner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car_cargo_ownner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zrytech.framework.app.entity.CarCargoOwnner" >
    insert into car_cargo_ownner (id, name, credit_code, 
      business_license, legaler_name, legaler_id_card_no, 
      legaler_id_card_front, tel, longitude, 
      latitude, province, city, 
      county, address_detail, intro, 
      customer_type, avoid_audit, close_rate, 
      favorable_level, status, cusomer_id, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{creditCode,jdbcType=VARCHAR}, 
      #{businessLicense,jdbcType=VARCHAR}, #{legalerName,jdbcType=VARCHAR}, #{legalerIdCardNo,jdbcType=INTEGER}, 
      #{legalerIdCardFront,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{longitude,jdbcType=DECIMAL}, 
      #{latitude,jdbcType=DECIMAL}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{county,jdbcType=VARCHAR}, #{addressDetail,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, 
      #{customerType,jdbcType=VARCHAR}, #{avoidAudit,jdbcType=BIT}, #{closeRate,jdbcType=DECIMAL}, 
      #{favorableLevel,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{cusomerId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zrytech.framework.app.entity.CarCargoOwnner" >
    insert into car_cargo_ownner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="creditCode != null" >
        credit_code,
      </if>
      <if test="businessLicense != null" >
        business_license,
      </if>
      <if test="legalerName != null" >
        legaler_name,
      </if>
      <if test="legalerIdCardNo != null" >
        legaler_id_card_no,
      </if>
      <if test="legalerIdCardFront != null" >
        legaler_id_card_front,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="addressDetail != null" >
        address_detail,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="customerType != null" >
        customer_type,
      </if>
      <if test="avoidAudit != null" >
        avoid_audit,
      </if>
      <if test="closeRate != null" >
        close_rate,
      </if>
      <if test="favorableLevel != null" >
        favorable_level,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="cusomerId != null" >
        cusomer_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null" >
        #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null" >
        #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="legalerName != null" >
        #{legalerName,jdbcType=VARCHAR},
      </if>
      <if test="legalerIdCardNo != null" >
        #{legalerIdCardNo,jdbcType=INTEGER},
      </if>
      <if test="legalerIdCardFront != null" >
        #{legalerIdCardFront,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null" >
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null" >
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="avoidAudit != null" >
        #{avoidAudit,jdbcType=BIT},
      </if>
      <if test="closeRate != null" >
        #{closeRate,jdbcType=DECIMAL},
      </if>
      <if test="favorableLevel != null" >
        #{favorableLevel,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="cusomerId != null" >
        #{cusomerId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrytech.framework.app.entity.CarCargoOwnner" >
    update car_cargo_ownner
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null" >
        credit_code = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null" >
        business_license = #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="legalerName != null" >
        legaler_name = #{legalerName,jdbcType=VARCHAR},
      </if>
      <if test="legalerIdCardNo != null" >
        legaler_id_card_no = #{legalerIdCardNo,jdbcType=INTEGER},
      </if>
      <if test="legalerIdCardFront != null" >
        legaler_id_card_front = #{legalerIdCardFront,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null" >
        address_detail = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null" >
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="avoidAudit != null" >
        avoid_audit = #{avoidAudit,jdbcType=BIT},
      </if>
      <if test="closeRate != null" >
        close_rate = #{closeRate,jdbcType=DECIMAL},
      </if>
      <if test="favorableLevel != null" >
        favorable_level = #{favorableLevel,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="cusomerId != null" >
        cusomer_id = #{cusomerId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrytech.framework.app.entity.CarCargoOwnner" >
    update car_cargo_ownner
    set name = #{name,jdbcType=VARCHAR},
      credit_code = #{creditCode,jdbcType=VARCHAR},
      business_license = #{businessLicense,jdbcType=VARCHAR},
      legaler_name = #{legalerName,jdbcType=VARCHAR},
      legaler_id_card_no = #{legalerIdCardNo,jdbcType=INTEGER},
      legaler_id_card_front = #{legalerIdCardFront,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      address_detail = #{addressDetail,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      customer_type = #{customerType,jdbcType=VARCHAR},
      avoid_audit = #{avoidAudit,jdbcType=BIT},
      close_rate = #{closeRate,jdbcType=DECIMAL},
      favorable_level = #{favorableLevel,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      cusomer_id = #{cusomerId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>