<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrytech.framework.app.mapper.CargoMapper">
    <resultMap id="cargo" type="com.zrytech.framework.app.entity.Cargo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="logo" property="logo"/>
        <result column="qty" property="qty"/>
        <result column="weight_unit" property="weightUnit"/>
        <result column="tender_way" property="tenderWay"/>
        <result column="mul_shipment" property="mulShipment"/>
        <result column="mul_unload" property="mulUnload"/>
        <result column="packaged" property="packaged"/>
        <result column="matter_price" property="matterPrice"/>
        <result column="real_price" property="realPrice"/>
        <result column="market_price" property="marketPrice"/>
        <result column="price_unit" property="priceUnit"/>
        <result column="price_type" property="priceType"/>
        <result column="start_province" property="startProvince"/>
        <result column="start_city" property="startCity"/>
        <result column="start_country" property="startCountry"/>
        <result column="end_province" property="endProvince"/>
        <result column="end_city" property="endCity"/>
        <result column="end_country" property="endCountry"/>
        <result column="line" property="line"/>
        <result column="can_share" property="canShare"/>
        <result column="car_type" property="carType"/>
        <result column="status" property="status"/>
        <result column="arrival_date" property="arrivalDate"/>
        <result column="pickup_date" property="pickupDate"/>
        <result column="end_date" property="endDate"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_date" property="createDate"/>
        <result column="pay_type" property="payType"/>
        <result column="userAccount" property="userAccount"/>
        <result column="tel" property="tel"/>
    </resultMap>

    <sql id="columns">
       id,name,logo,qty,weight_unit,tender_way,pay_type,mul_shipment,mul_unload,packaged,matter_price,real_price,market_price,price_unit,price_type,start_province,
       start_city,pay_type,start_country,end_province,end_city,end_country,line,can_share,car_type,status,arrival_date,pickup_date,end_date,remark,create_by,create_date
       ,(select DISTINCT user_account FROM sys_customer WHERE id=create_by) AS userAccount,(select DISTINCT tel FROM sys_customer WHERE id=create_by) AS tel
    </sql>

    <select id="cargoPage" resultMap="cargo">
        select
        <include refid="columns"/>
        from cargo
        <trim prefix="where " prefixOverrides="and ">
            1=1
            <if test="cargo.name != null and cargo.name != ''">
                and name like concat('%',#{cargo.name},'%')
            </if>
            <if test="cargo.startProvince != null and cargo.startProvince !=''">
                and start_province=#{cargo.startProvince}
            </if>
            <if test="cargo.startCity != null and cargo.startCity !=''">
                and start_city=#{cargo.startCity}
            </if>
            <if test="cargo.startCountry != null and cargo.startCountry !=''">
                and start_country=#{cargo.startCountry}
            </if>
            <if test="cargo.endProvince != null and cargo.endProvince !=''">
                and end_province=#{cargo.endProvince}
            </if>
            <if test="cargo.endCity != null and cargo.endCity !=''">
                and end_city=#{cargo.endCity}
            </if>
            <if test="cargo.endCountry != null and cargo.endCountry !=''">
                and end_country=#{cargo.endCountry}
            </if>
            <if test="cargo.status != null and cargo.status !=''">
                and status=#{cargo.status}
            </if>
            <if test="cargo.createBy != null">
                and create_by=#{cargo.createBy}
            </if>
            <if test="cargo.tenderWay != null and cargo.tenderWay !=''">
                and tender_way=#{cargo.tenderWay}
            </if>
        </trim>
        ORDER BY ${orderField} DESC
    </select>

    <insert id="pushSave" parameterType="com.zrytech.framework.app.entity.Cargo">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select last_insert_id() as id
        </selectKey>
        insert into cargo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null and name !=''">
                name,
            </if>
            <if test="logo != null and logo !=''">
                logo,
            </if>
            <if test="qty != null">
                qty,
            </if>
            <if test="weightUnit != null and weightUnit !=''">
                weight_unit,
            </if>
            <if test="tenderWay != null and tenderWay !=''">
                tender_way,
            </if>
            <if test="payType != null and payType !=''">
                pay_type,
            </if>
            <if test="mulShipment != null">
                mul_shipment,
            </if>
            <if test="mulUnload != null">
                mul_unload,
            </if>
            <if test="packaged != null">
                packaged,
            </if>
            <if test="matterPrice != null">
                matter_price,
            </if>
            <if test="realPrice != null">
                real_price,
            </if>
            <if test="marketPrice != null">
                market_price,
            </if>
            <if test="priceUnit != null and priceUnit !=''">
                price_unit,
            </if>
            <if test="priceType != null and priceType !=''">
                price_type,
            </if>
            <if test="startProvince != null and startProvince !=''">
                start_province,
            </if>
            <if test="startCity != null and startCity !=''">
                start_city,
            </if>
            <if test="startCountry != null and startCountry !=''">
                start_country,
            </if>
            <if test="endProvince != null and endProvince !=''">
                end_province,
            </if>
            <if test="endCity != null and endCity !=''">
                end_city,
            </if>
            <if test="endCountry != null and endCountry !=''">
                end_country,
            </if>
            <if test="line != null and line !=''">
                line,
            </if>
            <if test="canShare != null">
                can_share,
            </if>
            <if test="carType != null and carType !=''">
                car_type,
            </if>
            <if test="status != null and status !=''">
                status,
            </if>
            <if test="arrivalDate != null">
                arrival_date,
            </if>
            <if test="pickupDate != null">
                pickup_date,
            </if>
            <if test="endDate != null">
                end_date,
            </if>
            <if test="remark != null and remark !=''">
                remark,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null and name !=''">
                #{name},
            </if>
            <if test="logo != null and logo !=''">
                #{logo},
            </if>
            <if test="qty != null">
                #{qty},
            </if>
            <if test="weightUnit != null and weightUnit !=''">
                #{weightUnit},
            </if>
            <if test="tenderWay != null and tenderWay !=''">
                #{tenderWay},
            </if>
            <if test="payType != null and payType !=''">
                #{payType},
            </if>
            <if test="mulShipment != null">
                #{mulShipment},
            </if>
            <if test="mulUnload != null">
                #{mulUnload},
            </if>
            <if test="packaged != null">
                #{packaged},
            </if>
            <if test="matterPrice != null">
                #{matterPrice},
            </if>
            <if test="realPrice != null">
                #{realPrice},
            </if>
            <if test="marketPrice != null">
                #{marketPrice},
            </if>
            <if test="priceUnit != null and priceUnit !=''">
                #{priceUnit},
            </if>
            <if test="priceType != null and priceType !=''">
                #{priceType},
            </if>
            <if test="startProvince != null and startProvince !=''">
                #{startProvince},
            </if>
            <if test="startCity != null and startCity !=''">
                #{startCity},
            </if>
            <if test="startCountry != null and startCountry !=''">
                #{startCountry},
            </if>
            <if test="endProvince != null and endProvince !=''">
                #{endProvince},
            </if>
            <if test="endCity != null and endCity !=''">
                #{endCity},
            </if>
            <if test="endCountry != null and endCountry !=''">
                #{endCountry},
            </if>
            <if test="line != null and line !=''">
                #{line},
            </if>
            <if test="canShare != null">
                #{canShare},
            </if>
            <if test="carType != null and carType !=''">
                #{carType},
            </if>
            <if test="status != null and status !=''">
                #{status},
            </if>
            <if test="arrivalDate != null">
                #{arrivalDate},
            </if>
            <if test="pickupDate != null">
                #{pickupDate},
            </if>
            <if test="endDate != null">
                #{endDate},
            </if>
            <if test="remark != null and remark !=''">
                #{remark},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
        </trim>
    </insert>

    <select id="get" resultMap="cargo">
        select
        <include refid="columns"/>,(select DISTINCT user_account FROM sys_customer WHERE id=create_by) AS userAccount,(select DISTINCT tel FROM sys_customer WHERE id=create_by) AS tel
        from cargo
        where id =#{id}
    </select>

    <update id="updateAudit">
        update cargo
        <set>
            <if test="realPrice != null">
                real_price = #{realPrice},
            </if>
            <if test="status != null and status !=''">
                status = #{status}
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="batch" parameterType="java.util.List" useGeneratedKeys="true">
        insert into cargo_send_record
        (
        cargo_id,
        car_ownner_id,
        create_date
        )
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
            #{id},
            #{item},
            #{date}
            )
        </foreach>
    </insert>

    <delete id="deleteSource">
        delete from cargo
        where id = #{id}
    </delete>


    <update id="updateSource">
        update cargo
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="logo != null and logo !=''">
                logo = #{logo},
            </if>
            <if test="weightUnit != null and weightUnit !=''">
                weight_unit = #{weightUnit},
            </if>
            <if test="tenderWay != null and tenderWay !=''">
                tender_way = #{tenderWay},
            </if>
            <if test="payType != null and payType !=''">
                pay_type = #{payType},
            </if>
            <if test="mulShipment != null">
                mul_shipment = #{mulShipment},
            </if>
            <if test="mulUnload != null">
                mul_unload = #{mulUnload},
            </if>
            <if test="packaged != null">
                packaged = #{packaged},
            </if>
            <if test="matterPrice != null">
                matter_price = #{matterPrice},
            </if>
            <if test="realPrice != null">
                real_price = #{realPrice},
            </if>
            <if test="marketPrice != null">
                market_price = #{marketPrice},
            </if>
            <if test="priceUnit != null and priceUnit !=''">
                price_unit = #{priceUnit},
            </if>
            <if test="priceType != null and priceType !=''">
                price_type = #{priceType},
            </if>
            <if test="startProvince != null and startProvince !=''">
                start_province = #{startProvince},
            </if>
            <if test="startCity != null and startCity !=''">
                start_city = #{startCity},
            </if>
            <if test="startCountry != null and startCountry !=''">
                start_country = #{startCountry},
            </if>
            <if test="endProvince != null and endProvince !=''">
                end_province = #{endProvince},
            </if>
            <if test="endCity != null and endCity !=''">
                end_city = #{endCity},
            </if>
            <if test="endCountry != null and endCountry !=''">
                end_country = #{endCountry},
            </if>
            <if test="line != null and line !=''">
                line = #{line},
            </if>
            <if test="canShare != null">
                can_share = #{canShare},
            </if>
            <if test="carType != null and carType !=''">
                car_type = #{carType},
            </if>
            <if test="status != null and status !=''">
                status = #{status},
            </if>
            <if test="arrivalDate != null">
                arrival_date = #{arrivalDate},
            </if>
            <if test="pickupDate != null">
                pickup_date = #{pickupDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="remark != null and remark !=''">
                remark = #{remark},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="qty != null">
                qty = #{qty}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--  <insert id="invitationOffer" useGeneratedKeys="true" keyProperty="id">
          insert into cargo_send_record
          <trim prefix="(" suffix=")" suffixOverrides=",">
              <if test="cargoId != null">
                  cargo_id,
              </if>
              <if test="carOwnnerId != null">
                  car_ownner_id,
              </if>
              <if test="date != null">
                  create_date,
              </if>
          </trim>

          <trim prefix="values (" suffix=")" suffixOverrides=",">
              <if test="cargoId != null">
                  #{cargoId} ,
              </if>
              <if test="carOwnnerId != null">
                  #{carOwnnerId} ,
              </if>
              <if test="date != null">
                  #{date},
              </if>
          </trim>
      </insert>-->
    <insert id="invitationOffer" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into cargo_matter
        (cargo_id,
        car_ownner_id,
        status,
        create_by
        )
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
            #{item.cargoId},
            #{item.carOwnnerId},
            #{status},
            #{item.createBy}
            )
        </foreach>
    </insert>

    <select id="getOfferWill" resultType="com.zrytech.framework.app.entity.Offer">
        select
        id,cargo_id,car_ownner_id,matter_price,status,load_date,create_date,create_by
        from cargo_matter
        where cargo_id=#{cargoId} AND car_ownner_id=#{carOwnnerId}
    </select>

    <update id="updateMatter">
        update cargo_matter
        <set>
            <if test="offerPromissed != null and offerPromissed !=''">
                status = #{offerPromissed}
            </if>
        </set>
        <trim>
            <where>
                <if test="cargoId != null">
                    AND cargo_id = #{cargoId}
                </if>
                <if test="cargd != null">
                    AND car_ownner_id = #{cargd}
                </if>
            </where>
        </trim>
    </update>



	<select id="cargoSearch" resultMap="cargo" parameterType="Object">
        select * from `cargo`
        <where>
            <if test="cargo.name != null and cargo.name != ''">
                and `name` like CONCAT('%', #{cargo.name}, '%')
            </if>
            <if test="cargo.startProvince != null and cargo.startProvince != ''">
                and `start_province` = #{cargo.startProvince}
            </if>
            <if test="cargo.startCity != null and cargo.startCity != ''">
                and `start_city` = #{cargo.startCity}
            </if>
            <if test="cargo.startCountry != null and cargo.startCountry != ''">
                and `start_country` = #{cargo.startCountry}
            </if>
            <if test="cargo.endProvince != null and cargo.endProvince !=''">
                and `end_province` = #{cargo.endProvince}
            </if>
            <if test="cargo.endCity != null and cargo.endCity != ''">
                and `end_city` = #{cargo.endCity}
            </if>
            <if test="cargo.endCountry != null and cargo.endCountry != ''">
                and `end_country` = #{cargo.endCountry}
            </if>
            <if test="cargo.status != null and cargo.status !=''">
                and `status` = #{cargo.status}
            </if>
            <if test="cargo.createBy != null">
                and `create_by` = #{cargo.createBy}
            </if>
            <if test="cargo.tenderWay != null and cargo.tenderWay != ''">
                and `tender_way` = #{cargo.tenderWay}
            </if>
        </where>
        <if test="cargo.sort != null and cargo.sort != ''">
        	ORDER BY ${cargo.sort}
        	<if test="cargo.direction != null and cargo.direction != ''">
        		${cargo.direction}
       		</if>
        </if>
        <if test="cargo.sort == null">
        	ORDER BY `id`
        </if>
    </select>

    <select id="recommendCargo" parameterType="int" resultMap="cargo">
        select * from cargo c,cargo_send_record csr
          WHERE c.id = csr.cargo_id and csr.car_ownner_id = #{carOwnnerId}
    </select>

    <select id="recommendCargoPage" parameterType="int" resultMap="cargo">
        select * from cargo c,cargo_send_record csr
         WHERE c.id = csr.cargo_id and csr.car_ownner_id = #{carOwnnerId}
         ORDER BY c.`create_date`
    </select>
</mapper>