<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrytech.framework.app.mapper.CargoCustomerMapper">
    <resultMap id="BaseResultMap" type="com.zrytech.framework.app.entity.CargoCustomer">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_account" property="loginCounter"/>
        <result column="tel" property="tel"/>
        <result column="user_name" property="name"/>
        <result column="logo" property="logo"/>
        <result column="customer_type" property="customerType"/>
        <result column="is_active" property="isActive"/>
        <result column="create_by" property="createBy"/>
        <result column="create_date" property="createDate"/>
        <result column="password" property="pwd"/>
        <association property="certification" javaType="com.zrytech.framework.app.entity.Certification">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="credit_code" property="creditCode"/>
            <result column="business_license" property="businessLicense"/>
            <result column="legaler_name" property="legalerName"/>
            <result column="legaler_id_card_no" property="legalerIdCardNo"/>
            <result column="legaler_id_card_front" property="legalerIdCardFront"/>
            <result column="tel" property="tel"/>
            <result column="longitude" property="longitude"/>
            <result column="latitude" property="latitude"/>
            <result column="province" property="province"/>
            <result column="city" property="city"/>
            <result column="county" property="county"/>
            <result column="address_detail" property="addressDetail"/>
            <result column="intro" property="intro"/>
            <result column="customer_type" property="customerType"/>
            <result column="avoid_audit" property="avoidAudit"/>
            <result column="close_rate" property="closeRate"/>
            <result column="favorable_level" property="favorableLevel"/>
            <result column="status" property="status"/>
            <result column="cusomer_id" property="cusomerId"/>
            <result column="create_date" property="createDate"/>
            <result column="head_img" property="headImg"/>
            <result column="gender" property="gender"/>
            <result column="referees_id" property="refereesId"/>
        </association>
    </resultMap>

    <sql id="baseColumn">
       id,user_account,tel,user_name,logo,customer_type,is_active,create_by,create_date
    </sql>

    <sql id="pwdColumn">
        id,user_account,tel,user_name,logo,customer_type,is_active,create_by,create_date,password
    </sql>

    <sql id="cerColumn">
        id,name,credit_code,business_license,legaler_name,legaler_id_card_no,legaler_id_card_front,tel,longitude,latitude,head_img,gender,
        province,city,county,address_detail,intro,customer_type,avoid_audit,close_rate,favorable_level,status,cusomer_id,create_date,referees_id
    </sql>

    <insert id="insertCustomer" parameterType="com.zrytech.framework.app.entity.CargoCustomer">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select last_insert_id() as id
        </selectKey>
        insert into sys_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loginCounter != null and loginCounter !=''">
                user_account,
            </if>
            <if test="pwd != null and pwd !=''">
                password,
            </if>
            <if test="tel != null and tel !=''">
                tel,
            </if>
            <if test="name != null and name !=''">
                user_name,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="customerType != null and customerType !=''">
                customer_type,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="loginCounter != null and loginCounter !=''">
                #{loginCounter},
            </if>
            <if test="pwd != null and pwd !=''">
                #{pwd},
            </if>
            <if test="tel != null and tel !=''">
                #{tel},
            </if>
            <if test="name != null and name !=''">
                #{name},
            </if>
            <if test="logo != null">
                #{logo},
            </if>
            <if test="customerType != null and customerType !=''">
                #{customerType},
            </if>
            <if test="isActive != null">
                #{isActive},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
        </trim>
    </insert>

    <select id="selectCargoCustomerPage" resultMap="BaseResultMap">
        select
        cus.id, cus.user_account, cus.tel, cus.user_name, cus.logo, cus.customer_type, cus.is_active, cus.create_by, cus.create_date,
        ownner.id,ownner.name,ownner.credit_code,ownner.business_license,ownner.legaler_name,ownner.legaler_id_card_no,ownner.legaler_id_card_front,ownner.tel,ownner.longitude,ownner.latitude,
        ownner.province,ownner.city,ownner.county,ownner.address_detail,ownner.intro,ownner.customer_type,ownner.avoid_audit,ownner.close_rate,ownner.favorable_level,ownner.status,ownner.cusomer_id,ownner.create_date
        from sys_customer cus JOIN car_cargo_ownner ownner ON
        cus.id=ownner.cusomer_id
        <trim prefix="where " prefixOverrides="and ">
            1=1
            <if test="cargoCustomer.loginCounter != null and cargoCustomer.loginCounter != ''">
                and cus.real_name like concat('%',#{cargoCustomer.loginCounter},'%')
            </if>
            <if test="cargoCustomer.tel != null and cargoCustomer.tel !=''">
                and cus.tel like concat('%',#{cargoCustomer.tel},'%')
            </if>
           <!-- <if test="cargoCustomer.status != null and cargoCustomer.status !=''">
                and status=#{cargoCustomer.status}
            </if>-->
        </trim>
        ORDER BY cus.create_date DESC
    </select>

    <select id="checkTelOrCount" resultMap="BaseResultMap">
        select
        <include refid="baseColumn"/>
        from sys_customer
        <trim prefix="where " prefixOverrides="and ">
            1=1
            <if test="tel != null and tel !=''">
                and tel=#{tel}
            </if>
            <if test="loginCounter != null and loginCounter !=''">
                and user_account=#{loginCounter}
            </if>
        </trim>
    </select>

    <select id="findByCargoCustomerCount" resultMap="BaseResultMap">
        select
        <include refid="pwdColumn"/>
        from sys_customer
        <trim prefix="where " prefixOverrides="and ">
            1=1
            <if test="loginCounter != null and loginCounter !=''">
                and user_account= #{loginCounter}
            </if>
            and is_active=FALSE
        </trim>
    </select>

    <select id="selectCarList" resultType="int">
        SELECT DISTINCT customer.id FROM address ads JOIN sys_customer customer
        ON ads.customer_id=customer.id
        <trim prefix="where " prefixOverrides="and ">
            1=1
            <if test="cargoGoods.name != null and cargoGoods.name !=''">
                and ads.cargo_name= #{cargoGoods.name}
            </if>
            <if test="cargoGoods.startProvince != null and cargoGoods.startProvince !=''">
                and ads.begin_province= #{cargoGoods.startProvince}
            </if>
            <if test="cargoGoods.startCity != null and cargoGoods.startCity !=''">
                and ads.begin_city= #{cargoGoods.startCity}
            </if>
            <if test="cargoGoods.startCountry != null and cargoGoods.startCountry !=''">
                and ads.begin_county= #{cargoGoods.startCountry}
            </if>
            <if test="cargoGoods.endProvince != null and cargoGoods.endProvince !=''">
                and ads.end_province= #{cargoGoods.endProvince}
            </if>
            <if test="cargoGoods.endCity != null and cargoGoods.endCity !=''">
                and ads.end_city= #{cargoGoods.endCity}
            </if>
            <if test="cargoGoods.endCountry != null and cargoGoods.endCountry !=''">
                and ads.end_county= #{cargoGoods.endCountry}
            </if>
            <if test="customerType != null and customerType !=''">
                and customer.customer_type= #{customerType}
            </if>
            AND customer.create_by=0
            AND customer.is_active=FALSE
        </trim>
    </select>

    <select id="id" resultMap="BaseResultMap">
        select
        <include refid="pwdColumn"/>
        from sys_customer
        where id =#{id}
    </select>

    <select id="findByTelCargoCustomer" resultMap="BaseResultMap">
        select
        <include refid="pwdColumn"/>
        from sys_customer
        <trim prefix="where " prefixOverrides="and ">
            1=1
            <if test="tel != null and tel !=''">
                and tel= #{tel}
            </if>
            and is_active=FALSE
        </trim>
    </select>

    <update id="update">
        update sys_customer
        <set>
            <if test="logo != null and logo !=''">
                logo = #{logo}
            </if>
        </set>
        where id = #{id}
    </update>


    <update id="updatePhone">
        update sys_customer
        <set>
            <if test="tel != null and tel !=''">
                tel = #{tel}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="forget">
        update sys_customer
        <set>
            <if test="pwd != null and pwd !=''">
                password = #{pwd}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="setUpEnable">
        update sys_customer
        <set>
            <if test="isActive != null">
                is_active = #{isActive}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectChildListIds" resultType="Integer">
        select id from (
        select t1.id,
        if(find_in_set(create_by, @pids) > 0, @pids := concat(@pids, ',', id), 0) as ischild
        from (
        select id,create_by from sys_customer t  order by create_by, id
        ) t1,
        (select @pids :=#{id}) t2
        ) t3 where ischild != 0
    </select>

    <select id="selectChildCustomerList" resultMap="BaseResultMap">
        select
        <include refid="baseColumn"/>
        from sys_customer
        where id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <update id="editChildCustomer">
        update sys_customer
        <set>
            <if test="isActive != null">
                is_active = #{isActive},
            </if>
            <if test="logo != null and logo !=''">
                logo = #{logo},
            </if>
            <if test="loginCounter != null and loginCounter !=''">
                user_account = #{loginCounter}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from sys_customer
        where id = #{id}
    </delete>
</mapper>