<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrytech.framework.app.mapper.CargoMatterMapper" >
  <resultMap id="BaseResultMap" type="com.zrytech.framework.app.entity.CargoMatter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cargo_id" property="cargoId" jdbcType="INTEGER" />
    <result column="car_ownner_id" property="carOwnnerId" jdbcType="INTEGER" />
    <result column="cargo_owner_id" property="cargoOwnerId" jdbcType="INTEGER" />
    <result column="matter_price" property="matterPrice" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="load_date" property="loadDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="cargo_owner_id" property="cargoOwnerId" jdbcType="INTEGER" />
    <result column="unit_price" property="unitPrice" jdbcType="DECIMAL" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectSelective" parameterType="Object" resultMap="BaseResultMap">
  	select * from `cargo_matter`
  	<where>
  		<if test="carOwnerName != null and carOwnerName != ''">
	  		and `car_ownner_id` in (select `id` from `car_cargo_ownner` where `name` like CONCAT('%', #{carOwnerName}, '%'))
	  	</if>
	  	<if test="cargoOwnerName != null and cargoOwnerName != ''">
	  		and `cargo_owner_id` in (select `id` from `car_cargo_ownner` where `name` like CONCAT('%', #{cargoOwnerName}, '%'))
	  	</if>
  		<if test="carOwnerId != null">
	  		and `car_ownner_id` = #{carOwnerId}
	  	</if>
  		<if test="cargoOwnerId != null">
	  		and `cargo_owner_id` = #{cargoOwnerId}
	  	</if>
	  	<if test="cargoId != null">
	  		and `cargo_id` = #{cargoId}
	  	</if>
	  	<if test="createBy != null">
	  		and `create_by` = #{createBy}
	  	</if>
	  	<if test="status != null and status != ''">
	  		and `status` = #{status}
	  	</if>
	  	<if test="id != null">
	  		and `id` = #{id}
	  	</if>
  	</where>
	 order by `create_date` desc
  </select>
  
  
</mapper>