<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrytech.framework.app.mapper.CarMapper" >
  <resultMap id="BaseResultMap" type="com.zrytech.framework.app.entity.Car" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="car_no" property="carNo" jdbcType="VARCHAR" />
    <result column="car_load" property="carLoad" jdbcType="INTEGER" />
    <result column="car_unit" property="carUnit" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />

    <result column="driver_id" property="driverId" jdbcType="INTEGER" />
    <result column="supercargo_id" property="supercargoId" jdbcType="INTEGER" />
    <result column="current_longitude" property="currentLongitude" jdbcType="DECIMAL" />
    <result column="current_latitude" property="currentLatitude" jdbcType="DECIMAL" />
    <result column="current_address" property="currentAddress" jdbcType="VARCHAR" />

    <result column="mul_store" property="mulStore" jdbcType="BIT" />
    <result column="store_qty" property="storeQty" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />

    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="car_owner_id" property="carOwnerId" jdbcType="INTEGER" />
    <result column="approve_status" property="approveStatus" jdbcType="VARCHAR" />
    <result column="approve_content" property="approveContent" jdbcType="VARCHAR" />
    <result column="car_length" property="carLength" jdbcType="VARCHAR" />
  </resultMap>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrytech.framework.app.entity.Car" >
    update car
    <set >
      <if test="carNo != null" >
        car_no = #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carLoad != null" >
        car_load = #{carLoad,jdbcType=INTEGER},
      </if>
      <if test="carUnit != null" >
        car_unit = #{carUnit,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="supercargoId != null" >
        supercargo_id = #{supercargoId,jdbcType=INTEGER},
      </if>
      <if test="currentLongitude != null" >
        current_longitude = #{currentLongitude,jdbcType=DECIMAL},
      </if>
      <if test="currentLatitude != null" >
        current_latitude = #{currentLatitude,jdbcType=DECIMAL},
      </if>
      <if test="currentAddress != null" >
        current_address = #{currentAddress,jdbcType=VARCHAR},
      </if>
      <if test="mulStore != null" >
        mul_store = #{mulStore,jdbcType=BIT},
      </if>
      <if test="storeQty != null" >
        store_qty = #{storeQty,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="carLength != null" >
        car_length = #{carLength,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectSelective" parameterType="Object" resultMap="BaseResultMap">
  	select * from `car` 
  	<where>
	  	<if test="carOwnerName != null and carOwnerName != ''">
	  		`car_owner_id` in (select `id` from `car_cargo_ownner` where `name` like CONCAT('%', #{carOwnerName}, '%'))
	  	</if>
	  	<if test="carNo != null and carNo != ''">
	  		and `car_no` like CONCAT('%', #{carNo}, '%')
	  	</if>
	  	<if test="carType != null and carType != ''">
	  		and `car_type` = #{carType}
	  	</if>
	  	<if test="status != null and status != ''">
	  		and `status` = #{status}
	  	</if>
	  	<if test="approveStatus != null and approveStatus != ''">
	  		and `approve_status` = #{approveStatus}
	  	</if>
	  	<if test="isDelete != null">
	  		and `is_delete` = #{isDelete}
	  	</if>
	  	<if test="carOwnerId != null">
	  		and `car_owner_id` = #{carOwnerId}
	  	</if>
	  	<if test="createBy != null">
	  		and `create_by` = #{createBy}
	  	</if>
  	</where>
  	order by `create_date` desc
  </select>
  
</mapper>