<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrytech.framework.app.mapper.CarSourceMapper" >
  <resultMap id="BaseResultMap" type="com.zrytech.framework.app.entity.CarSource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="car_owner_id" property="carOwnerId" jdbcType="INTEGER" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />
    <result column="qty" property="qty" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="approve_status" property="approveStatus" jdbcType="VARCHAR" />
    <result column="approve_content" property="approveContent" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_share" property="isShare" />
  </resultMap>
  
  
  
  <select id="selectSelective" parameterType="Object" resultMap="BaseResultMap">
  	select * from `car_source` 
  	<where>
	  	<if test="carOwnerName != null and carOwnerName != ''">
	  		`car_owner_id` in (select `id` from `car_cargo_ownner` where `name` like CONCAT('%', #{carOwnerName}, '%'))
	  	</if>
	  	<if test="createBy != null">
	  		and `create_by` = #{createBy}
	  	</if>
	  	<if test="carOwnerId != null">
	  		and `car_owner_id` = #{carOwnerId}
	  	</if>
	  	<if test="status != null and status != ''">
	  		and `status` = #{status}
	  	</if>
	  	<if test="approveStatus != null and approveStatus != ''">
	  		and `approve_status` = #{approveStatus}
	  	</if>
	  	<if test="carType != null and carType != ''">
	  		and `car_type` = #{carType}
	  	</if>
	  	<if test="id != null">
	  		and `id` = #{id}
	  	</if>
  	</where>
  	order by `create_date` desc
  </select>
  
  
  <update id="updateNoCheck" parameterType="Object">
  	update `car_source` 
  	<set>
  		<if test="isShare != null">
  			`is_share` = #{isShare},
  		</if>
  		<if test="startDate != null">
	  		`start_date` = #{startDate},
	  	</if>
	  	<if test="remark != null and remark != ''">
	  		`remark` = #{remark},
	  	</if>
  	</set>
  	where `id` = #{id}
  </update>
  
  
</mapper>