<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrytech.framework.app.mapper.CarSourceMapper" >
  <resultMap id="BaseResultMap" type="com.zrytech.framework.app.entity.CarSource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />
    <result column="qty" property="qty" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_by, car_type, qty, status, create_date
  </sql>
  
  
  <select id="selectSelective" parameterType="Object" resultMap="BaseResultMap">
  	select * from `car_source` 
  	<where>
	  	<if test="carOwnerName != null and carOwnerName != ''">
	  		`create_by` in (select `id` from `car_cargo_ownner` where `name` like CONCAT('%', #{carOwnerName}, '%'))
	  	</if>
	  	<if test="createBy != null">
	  		and `create_by` = #{createBy}
	  	</if>
	  	<if test="status != null and status != ''">
	  		and `status` = #{status}
	  	</if>
	  	<if test="carType != null and carType != ''">
	  		and `car_type` = #{carType}
	  	</if>
	  	<if test="id != null">
	  		and `id` = #{id}
	  	</if>
  	</where>
  	order by `create_date` desc
  </select>
  
  
  <!-- 车主搜索车源 -->
  <select id="carOwnerSelectSelective" parameterType="Object" resultMap="BaseResultMap">
  	select * from `car_source` where `car_owner_id` = #{carOwnerId}
  	<if test="createBy != null">
  		and `create_by` = #{createBy}
  	</if>
  	<if test="status != null and status != ''">
  		and `status` = #{status}
  	</if>
  	order by `create_date` desc
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car_source
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car_source
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zrytech.framework.app.entity.CarSource" >
    insert into car_source (id, create_by, car_type, 
      qty, status, create_date
      )
    values (#{id,jdbcType=INTEGER}, #{createBy,jdbcType=INTEGER}, #{carType,jdbcType=VARCHAR}, 
      #{qty,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zrytech.framework.app.entity.CarSource" >
    insert into car_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrytech.framework.app.entity.CarSource" >
    update car_source
    <set >
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrytech.framework.app.entity.CarSource" >
    update car_source
    set create_by = #{createBy,jdbcType=INTEGER},
      car_type = #{carType,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>