<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrytech.framework.app.mapper.EvaluateMapper" >

  <resultMap id="BaseResultMap" type="com.zrytech.framework.app.entity.Evaluate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bill_no" property="billNo" jdbcType="VARCHAR" />
    <result column="appraiser_id" property="appraiserId" jdbcType="INTEGER" />
    <result column="appraiser_by_id" property="appraiserById" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="evaluate_type" property="evaluateType" jdbcType="VARCHAR" />
    <result column="evaluate_level" property="evaluateLevel" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="waybill_id" property="waybillId" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="search" resultMap="BaseResultMap" parameterType="com.zrytech.framework.app.entity.Evaluate">
  	select * from `evaluate`
  	<where>
  		<if test="evaluate.id != null">
  			and `id` = #{evaluate.id}
  		</if>
  		<if test="evaluate.billNo != null and evaluate.billNo != ''">
  			and `bill_no` = #{evaluate.billNo}
  		</if>
  		<if test="evaluate.appraiserId != null">
  			and `appraiser_id` = #{evaluate.appraiserId}
  		</if>
  		<if test="evaluate.appraiserById != null">
  			and `appraiser_by_id` = #{evaluate.appraiserById}
  		</if>
  		<if test="evaluate.evaluateType != null and evaluate.evaluateType != ''">
  			and `evaluate_type` = #{evaluate.evaluateType}
  		</if>
  		<if test="evaluate.evaluateLevel != null">
  			and `evaluate_level` = #{evaluate.evaluateLevel}
  		</if>
  		<if test="evaluate.waybillId != null">
  			and `waybill_id` = #{evaluate.waybillId}
  		</if>
  	</where>
  	order by `id` desc
  </select>
  
</mapper>