<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrytech.framework.app.mapper.FamiliarCarMapper">
    <resultMap id="familiarCar" type="com.zrytech.framework.app.entity.FamiliarCar">
        <id column="id" property="id"/>
        <result column="cargo_ownner_id" property="cargoOwnnerId"/>
        <result column="car_ownner_id" property="carOwnnerId"/>
        <result column="create_date" property="createDate"/>
    </resultMap>

    <sql id="columns">
       id,cargo_ownner_id,car_ownner_id,create_date
    </sql>

    <select id="familiarCarPage" resultMap="familiarCar">
        select
        <include refid="columns"/>
        from familiar_car
        <trim prefix="where " prefixOverrides="and ">
            1=1
            <if test="familiarCar.cargoOwnnerId != null">
                and cargo_ownner_id=#{familiarCar.cargoOwnnerId}
            </if>
        </trim>
        ORDER BY create_date DESC
    </select>


    <delete id="delete" parameterType="int">
        delete from familiar_car
        where id = #{id}
    </delete>

</mapper>