<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrytech.framework.app.mapper.LoadingMapper">
    <resultMap id="loading" type="com.zrytech.framework.app.entity.Loading">
        <id column="id" property="id"/>
        <result column="cargo_id" property="cargoId"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="county" property="county"/>
        <result column="address_detail" property="addressDetail"/>
        <result column="qty" property="qty"/>
        <result column="type" property="type"/>
        <result column="remark" property="remark"/>
        <result column="seq_no" property="seqNo"/>
        <result column="status" property="status"/>
        <result column="load_date" property="loadDate"/>
        <result column="end_date" property="endDate"/>
    </resultMap>

    <sql id="columns">
       id,cargo_id,longitude,latitude,province,city,county,address_detail,qty,type,remark,seq_no,status,load_date,end_date
    </sql>

    <select id="selectLoadingList" resultMap="loading">
        select
        <include refid="columns"/>
        from cargo_location
        <trim prefix="where " prefixOverrides="and ">
            1=1
            <if test="id != null">
                and cargo_id=#{id}
            </if>
            <if test="loadingType != null and loadingType !=''">
                and type=#{loadingType}
            </if>
        </trim>
        ORDER BY end_date DESC
    </select>

    <select id="get" resultMap="loading">
        select
        <include refid="columns"/>
        from cargo_location
        where id =#{id}
    </select>

    <insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into cargo_location
        (cargo_id,
        longitude,
        latitude,
        province,
        city,
        county,
        address_detail,
        qty,
        remark,
        seq_no,
        status,
        load_date,
        end_date,
        type
        )
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
            #{cargoId},
            #{item.longitude},
            #{item.latitude},
            #{item.province},
            #{item.city},
            #{item.county},
            #{item.addressDetail},
            #{item.qty},
            #{item.remark},
            #{item.seqNo},
            #{item.status},
            #{item.loadDate},
            #{item.endDate},
            #{loadingType}
            )
        </foreach>
    </insert>

    <delete id="batchDelete" parameterType="java.util.List">
        delete from cargo_location
        where id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="batchAdds" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into cargo_location
        (cargo_id,
        longitude,
        latitude,
        province,
        city,
        county,
        address_detail,
        qty,
        remark,
        seq_no,
        status,
        load_date,
        end_date,
        type
        )
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
            #{cargoId},
            #{item.longitude},
            #{item.latitude},
            #{item.province},
            #{item.city},
            #{item.county},
            #{item.addressDetail},
            #{item.qty},
            #{item.remark},
            #{item.seqNo},
            #{item.status},
            #{item.loadDate},
            #{item.endDate},
            #{item.type}
            )
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="java.util.List">
        <!-- 接收list参数，循环着组装sql语句，注意for循环的写法
             separator=";" 代表着每次循环完，在sql后面放一个分号
             item="cus" 循环List的每条的结果集
             collection="list" list 即为 传过来的参数Mark -->
        <foreach collection="list" separator=";" item="loading">
            update cargo_location set
            longitude=#{loading.longitude},
            latitude=#{loading.latitude},
            province=#{loading.province},
            city=#{loading.city},
            county=#{loading.county},
            address_detail=#{loading.addressDetail},
            qty=#{loading.qty},
            remark=#{loading.remark},
            seq_no=#{loading.seqNo},
            load_date=#{loading.loadDate},
            load_date=#{loading.loadDate},
            end_date = #{loading.endDate},
            status=#{loading.status}
            where id = #{loading.id}
        </foreach>
    </update>

</mapper>